@charset "UTF-8";

.fa{
	 margin-top:17%; 
}

.memo2{
	position: relative;
	width:100%;
	height:450px;
}

.memo2>ul {
	position: absolute;
	width:90%;
	margin-left:10%;
}
.memo3 {
	margin-left:70px;
}

@media all and (min-width:1415px){
	.picture1 {
	width:97%;
	}
	.picture2{
	display:none;
	}
	
	.picture3{
	width:32%;
	height:250px;
	}
}
@media all and (max-width:1415px){
.picture1{
	display:none;
	}

.picture2, .picture3{
	width:49%;
	height:400px;
	}

}

@media all and (max-width:1220px){
	 .fa {
	 	margin-top:20%;
	 } 
	 
	.picture1{
	display:none;
	}
	
	.picture2, .picture3 {
	width:100%;
	}

}